@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply lg:text-6xl
        text-3xl
        font-serif;
  }
  h2 {
    @apply lg:text-2xl
        text-lg
        font-serif
        font-light;
  }
  h3 {
    @apply text-sm
        font-thin;
  }
}

#app {
  height: 100vh;
  overflow: auto;
}

#animated {
  animation: fadeIn ease-in .9s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: darkgray;
  }
}
