@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply 
        text-6xl
        font-serif
    }
    h2 {
        @apply
        text-2xl
        font-serif
        font-light
    }
    h3 {
        @apply
        text-sm
        font-thin
    }
}

#app {
    height: 100vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    /* background: #14B8A6; */
    background: darkgray;
}